@model LoginViewModel
@{
    ViewData["Title"] = "Home Page";
}
<link href="~/css/site.css" rel="stylesheet" />
@*<link href="htpps:cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet"*@
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="container">
        <div class="col-md-4">
            <form asp-controller="Home" asp-action="Login" asp-antiforgery="true" method="post">
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input asp-for="Username" class="form-control" placeholder="UserName" />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="input-group mb-3">
                    <input type="password" asp-for="Password" autocomplete="new-password" class="form-control" placeholder="Password" />
                </div>

                <div class="input-group mb-3">
                    <dnt-captcha asp-captcha-generator-max="999999"
                                 asp-captcha-generator-min="111111"
                                 asp-captcha-generator-language="English"
                                 asp-captcha-generator-display-mode="NumberToWord" 
                                 asp-use-relative-urls="true"
                                 asp-placeholder="Enter Captcha"
                                 asp-font-name="Tahoma"
                                 asp-font-size="20"
                                 asp-fore-color="333333"
                                 asp-back-color="#ccc"
                                 asp-text-box-class="text-box form-control"
                                 asp-text-box-template="<span class='input-group-prepend'><span class='form-ground-text'></span></span>{0}"
                                 asp-validation-error-message="Please enter the security code"
                                 asp-validation-message-class="text-danger"
                                 asp-refresh-button-class="fas fa-redo btn-sm"
                                 asp-use-noise="false" />
                </div>

                <div class="row">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <button type="submit" id="btnsubmit" class="btn btn-primary btn-block">Sigh In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/js/site.js"></script>
<script src="~/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>